@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.01em;
}
.inner-page {
  min-width: 1440px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

a:visited {
  color: rgba(0, 0, 0, 1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(247, 226, 150, 1);
}

.main-header-logo {
  padding: 0;
  margin-left: 58px;
  margin-top: -25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.01em;
}

.container-header-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
  margin-top: 28px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 160px;
  padding: 0 60px;
}

.inner-page .main-navigation {
  margin-bottom: 50px;
}

.header-search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 440px;
  margin: 0;
  margin-top: -7px;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.header-search label {
  margin: 0;
  margin-right: 19px;
  padding: 0;
  font-size: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2px;
}

.search-button {
  position: absolute;
  right: 0;
  top: -21px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  background: none;
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 1);
  display: none;
}

.search-button::after {
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  background-color: black;
  top: 100%;
  right: 0;
}

.search-button:hover,
.search-button:focus {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.search-button:active {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: -8px;
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.shop-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 214px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  width: 300px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  list-style: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.delivery-varanty {
  width: 275px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-wrapper a {
  padding: 0;
  margin: 0;
  display: block;
  width: 120px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-footer-wrapper path {
  fill: #ffc600;
}

.site-navigation>li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  list-style: none;
  z-index: 20;
  letter-spacing: 3.5px;
}

.sub-menu {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-left: -60px;
  list-style: none;
  position: absolute;
  width: 1040px;
  padding: 30px 60px;
  display: none;
  z-index: 15;
  background-color: rgba(247, 225, 132, 1);
}

.sub-menu ul {
  padding: 0;
  margin: 0;
  margin-right: 55px;
  list-style: none;
}

.site-navigation-item>a::after {
  margin-top: 3px;
  margin-left: 12px;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  vertical-align: center;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.site-navigation-item>a:hover::after,
.site-navigation-item>a:focus::after {
  opacity: 0.5;
}

.site-navigation-item>a:active::after {
  opacity: 0.3;
}

.sub-menu li {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  letter-spacing: 0;
}

.site-navigation-item:hover .sub-menu,
.site-navigation-item:focus .sub-menu {
  display: flex;
}

.user-navigation a {
  position: relative;
  padding-left: 10px;
  letter-spacing: 0em;
}

.user-navigation li:last-child {
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
}

.exit {
  margin-left: 7px;
  color: rgba(0, 0, 0, 0.3);
}

.compare,
.basket {
  margin-left: 6px;
}

.search {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 440px;
  padding-left: 40px;
  padding-right: 100px;
  height: 50px;
  border: none;
  background: none;
  outline: none;
  margin-left: -2px;
  top: -18px;
  left: 0;
}

.search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.header-search:focus .search-button,
.header-search:active .search-button {
  display: block;
}

.header-search .search:focus+.search-button,
.header-search .search:active+.search-button {
  display: block;
}

.container-slider {
  position: relative;
  width: 1160px;
  min-height: 500px;
  margin: 0 auto;
  margin-bottom: 93px;
  margin-top: -109px;
}

.slider-controls {
  position: absolute;
  right: 73px;
  bottom: 153px;
  z-index: 15;
}

.container-slider input[type="radio"] {
  display: none;
}

.slide {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  display: none;
}



.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  z-index: 10;
}

.container-slider label::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 1);
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  z-index: 25;
  display: none;
}

#btn-1:checked~.slider-controls label[for="btn-1"]::after,
#btn-2:checked~.slider-controls label[for="btn-2"]::after,
#btn-3:checked~.slider-controls label[for="btn-3"]::after {
  display: block;
}

#btn-1:checked~.slider-wrapper .slider-slide-1 {
  display: flex;
}

#btn-2:checked~.slider-wrapper .slider-slide-2 {
    display: flex;
}

#btn-3:checked~.slider-wrapper .slider-slide-3 {
  display: flex;
}

.container-slider .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-description b {
  width: 505px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  z-index: 2;
  letter-spacing: 0.01em;
}

.product-description p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
  letter-spacing: -0.008em;
}

.product-description-content {
  width: 500px;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -85px;
  z-index: 5;
}

.container-partners {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 93px;
  margin-bottom: 97px;
}

.container-partners img:nth-child(2n) {
  display: none;
}

.firms:hover img:nth-child(1n) {
  display: none;
}

.firms:hover img:nth-child(2n) {
  display: block;
}

.container-information {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 82px;
}

.about-us {
  width: 500px;
  padding-right: 60px;
}

.contacts {
  width: 560px;
  margin-left: 40px;
}

.main-footer {

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 70, 70, 1);
}

.main-footer a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}

.main-footer a:hover,
.main-footer a:focus {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
}

.main-footer a:active {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.footer-logo-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  margin-top: 58px;
}

.footer-user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 246px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-page .footer-user-navigation {
  justify-content: flex-start;
  width: 238px;
  padding-left: 22px;
}

.footer-user {
  padding-left: 9px;
  letter-spacing: 0.0em;
}

.footer-exit {
  padding-left: 17px;
  letter-spacing: 0.0em;
}

.footer-shop-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 212px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-shop-navigation a {
  padding-left: 7px;
}

.footer-contacts-service {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  align-items: center;
}

.footer-services {
  margin: 0;
  padding: 0;
  display: flex;
  width: 428px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 6px;
}

.footer-services a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-services a:hover,
.footer-services a:focus {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.footer-services a:active {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.footer-contacts-service p {
  padding: 0;
  margin: 0;
  width: 220px;
  margin-top: -7px;
  letter-spacing: -0.02em;
}

.footer-contacts-service>a {
  display: block;
  width: 220px;
  text-align: right;
  margin-top: -7px;
  letter-spacing: 0em;
}

.footer-social-academy {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 65px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.slide-image {
  display: flex;
  justify-content: center;
  padding-right: 20px;
  width: 560px;
}

.slide-decoration {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  margin-top: -10px;
}

.slide-decoration p {
  padding: 0;
  margin: 0;
  margin-right: -12px;
  margin-top: -4px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.slide-decoration p::before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  top: 38px;
  left: 20px;
  z-index: 2;
}

.specifications-list {
  display: flex;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.specifications-list li {
  margin-right: 78px;
}

.specifications-list li:last-child {
  margin-right: 0;
}

.product-description {
  position: relative;
  width: 540px;
  padding: 0 20px;
}

.container-products {
  width: 1160px;
  margin: 0 auto;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.container-products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
  list-style: none;
}

.product {
  width: 160px;
}

.product a {
  display: block;
  width: 160px;
  position: relative;
  padding-top: 195px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.product a::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
}

.product a::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
}

.product-1 a::after {
  background-image: url("../img/popular-1.svg");
}

.product a:hover::before,
.product a:focus::before,
.product a:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.product-2 a::after {
  background-position: 50% 100%;
  background-image: url("../img/popular-2.svg");
}

.product-3 a::after {
  background-image: url("../img/popular-3.svg");
}

.product-4 a::after {
  background-image: url("../img/popular-4.svg");
}

.product-5 a::after {
  background-image: url("../img/popular-5.svg");
}

.product-6 a::after {
  background-image: url("../img/popular-6.svg");
}

.product a:active::after {
  opacity: 0.3;
}

/* .gray {
  margin-top: -220px;
  width: 100%;
  height: 290px;
  background-color: rgba(229, 229, 229, 1);
} */
.login-link,
.shop-navigation {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.product-description ul {
  list-style: none;
}

.specifications-list p:first-child {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}

.specifications-list p:last-child {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  margin-top: 6px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.button {
  position: relative;
  padding: 8px 45px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  background: linear-gradient(rgba(255, 255, 255, 0) 45%,
    rgba(240, 197, 46, 1) 35%,
    rgba(240, 197, 46, 1) 60%,
    rgba(255, 255, 255, 0) 55%);
  border: none;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.button:hover,
.button:focus {
  background-color: rgba(240, 197, 46, 1);
}

.button:active {
  background-color: rgba(240, 197, 46, 1);
  color: rgba(0, 0, 0, 0.3);
  border: none;
}

.filter-button,
.modal-write-us button {
  border: none;
  margin-top: 32px;
  letter-spacing: 0.2em;
}

.button-contacts,
.button-about-us {
  padding-left: 0;
  padding-right: 0;
  width: 260px;
  text-align: center;
}

.button-contacts:active,
.button-about-us:active {
  color: rgba(0, 0, 0, 0.3);
}

.container-products ul {
  list-style: none;
}

.services-delivery b,
.services-warranty b,
.services-credit b,
.about-us h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.about-us h2,
.contacts h2 {
  position: relative;
  margin-bottom: 42px;
}

.about-us h2::before,
.contacts h2::before {
  content: "";
  width: 80px;
  height: 8px;
  top: -55px;
  position: absolute;
  background: rgba(0, 0, 0, 1);
}

.contacts img {
  display: block;
  margin-top: 40px;
}

.button-about-us,
.button-contacts {
  display: block;
}

.button-contacts {
  margin-top: 68px;
}

.services-delivery p,
.services-warranty p,
.services-credit p,
.about-us p,
.contacts p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
  letter-spacing: 0em;
}

.about-us p {
  width: 497px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  margin-top: 67px;
  margin-bottom: 53px;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.about-us li {
  position: relative;
  padding-left: 35px;
}

.about-us li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 3px solid rgba(239, 239, 239, 1);
  left: 0;
  top: 35%;
}

.main-footer .footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(255, 198, 0, 1);
  text-transform: uppercase;
  margin-top: 3px;
  margin-left: -2px;
}

.main-footer .footer-logo:hover,
.main-footer .footer-logo:focus {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(255, 198, 0, 0.7);
  text-transform: uppercase;
}

.main-footer .footer-logo:active {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(255, 198, 0, 0.3);
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;
  list-style: none;
  padding-right: 34px;
}

.breadcrumbs li::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: 15px;
  top: 50%;
  margin-top: -4px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.catalog-catalog li {
  list-style: none;
}

.breadcrumbs a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.breadcrumbs li:last-child {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.pagination li {
  list-style: none;
}

.pagination-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.filters li {
  list-style: none;
  margin-bottom: 0px;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.filters-item label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.filter-option label {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.container-title {
  width: 1160px;
  margin: 0 auto;
}

.container-title h1 {
  margin-top: 37px;
  margin-left: 60px;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
  margin-top: -10px;
}

.container-filters-catalog {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  margin-top: -3px;
}

.filters {
  width: 470px;
  background-color: rgba(239, 239, 239, 1);
}

.filters-item {
  margin-top: 8px;
}

.range-controls {
  position: relative;
  margin-top: 19px;
  width: 200px;
  height: 13px;
  padding-top: 12px;
}

.range-controls .scale {
  width: 200px;
  height: 2px;
  background-color: rgba(219, 219, 219, 1);
}

.range-controls .bar {
  width: 120px;
  height: 2px;
  background-color: rgba(145, 201, 47, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: rgba(171, 171, 171, 1);
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(218, 218, 218, 1);
  cursor: pointer;
}

.filter-item b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  font-size: 0;
  margin-top: -3px;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.price-controls input {
  width: 60px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.2);
  background: none;
  border: none;
}

.filter {
  margin-left: 198px;
  margin-right: 68px;
  margin-top: 70px;
  border-top: 2px solid rgba(0, 0, 0, 1);
}

.filter fieldset {
  border: none;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 26px;
  border-top: 2px solid black;
}

.filters h3 {
  display: block;
  width: 204px;
  padding: 0;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 24px;
  padding-left: 200px;
  padding-right: 68px;
  background-color: rgba(219, 219, 219, 1);
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.color {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.color label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.color label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 33px;
  left: 0px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.color label:hover::before,
.color label:focus::before {
  opacity: 0.6;
}

.color label:active::before {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
  z-index: 2;
}

.checkbox:checked+label:hover::before,
.checkbox:checked+label:focus::before {
  opacity: 0.6;
}

.checkbox:hover+label:before,
.checkbox:focus+label:before {
  opacity: 0.6;
}

.checkbox:checked+label:active::before {
  background-image: url("../img/checkbox-off.svg");
}

.checkbox:disabled+label::before {
  background-position: 0 0;
  opacity: 0.25;
  color: rgba(166, 166, 166, 1);
}

.checkbox:disabled+label {
  color: rgba(166, 166, 166, 1);
}

.checkbox:checked:disabled+label::before {
  background-position: 0 0;
  opacity: 0.25;
  color: rgba(166, 166, 166, 1);
}

.checkbox:checked:disabled+label {
  color: rgba(166, 166, 166, 1);
}

.radio+label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 50%;
  margin-top: -12px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 1);
}

.radio:checked+label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -4px;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: 2;
}

.radio+label:hover::before,
.radio+label:focus::before {
  border: 3px solid rgba(0, 0, 0, 0.6);
}

.radio:checked+label:hover::after,
.radio:checked+label:focus::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.radio:disabled+label::before,
.radio:disabled+label:hover::before,
.radio:disabled+label:focus::before {
  border: 3px solid rgba(0, 0, 0, 0.25);
}

.radio:disabled+label::after,
.radio:disabled+label:hover::after,
.radio:disabled+label:focus::after {
  background-color: rgba(0, 0, 0, 0.25);
}

.radio:disabled+label {
  color: rgba(166, 166, 166, 1);
  cursor: pointer;
}

.catalog {
  width: 900px;
  background-color: rgba(255, 255, 255, 1);
}
.radio:hover+label:before,
.radio:focus+label:before {
border: 3px solid rgba(0, 0, 0, 0.6);
}

.radio:hover+label:after,
.radio:focus+label:after {
background-color: rgba(0, 0, 0, 0.6);
}

.filters-catalog-title {
  margin-top: 50px;
  background: linear-gradient(to right, rgba(220, 220, 220, 1) 50%, rgba(235, 235, 235, 1) 50%);
}

.filters-catalog-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.filters-title {
  width: 330px;
  margin-left: 20px;
  background-color: rgba(220, 220, 220, 1);
}

.catalog-title {
  width: 899px;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 71px;
}

.sort {
  width: 680px;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 20px;
  display: flex;
  margin-left: 55px;
  list-style: none;
  flex-wrap: wrap;
}

.sort li {
  margin-right: 28px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
}

.active-item {
  color: rgba(0, 0, 0, 1);
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.sort a:hover,
.sort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: rgba(0, 0, 0, 1);
}

.sort .active-item {
  color: rgba(0, 0, 0, 1);
}

.catalog-title>b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.indicator {
  width: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 74px;
  margin-right: 140px;
  list-style: none;
  align-items: center;
}

.indicator li {
  padding-left: 20px;
  cursor: pointer;
}

.indicator-item path {
  fill: rgba(0, 0, 0, 0.2);
}

.indicator-item:hover path,
.indicator-item:focus path {
  fill: rgba(0, 0, 0, 0.4);
}

.indicator-item:active path {
  fill: rgba(0, 0, 0, 1);
}

.indicator path {
  fill: #c3c2c2;
}

.active path {
  fill: #000000;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
  margin-top: 67px;
  list-style: none;
}

.catalog-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-item section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 33px;
  letter-spacing: 0.01em
}

.catalog-item h3 {
  padding: 0;
  margin: 0;
  width: 260px;
  letter-spacing: 0.01em;
  line-height: 0px;
}

.price {
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 360px;
  margin-bottom: 46px;
}

.catalog-item:nth-child(2n) {
  margin-left: 40px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 73px;
  margin-top: -15px;
  background-color: rgba(235, 235, 235, 1);
}

.pagination a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.pagination-back,
.pagination-next {
  padding: 0;
  margin: 0;
  display: block;
  padding: 23px 26px;
  max-width: 138px;
}

.pagination-back {
  padding: 23px 30px;
}

.pagination-next {
  text-align: right;
}

.pagination-back:hover,
.pagination-next:hover,
.pagination-back:focus,
.pagination-next:focus {
  background-color: rgba(217, 217, 217, 1);
}

.pagination-back:active,
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
}

.pagination-number li {
  padding-right: 23px;
}

.pagination-number li:last-child {
  padding-right: 0px;
}

.pagination-number a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number a:hover,
.pagination-number a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-number a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-wrapper {
  width: 140px;
}

.pagination .current {
  color: rgba(0, 0, 0, 1);
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0;
  padding: 20px 30px;
  list-style: none;
}

.pagination-list li:nth-child(2) {
  margin-left: 30px;
}

.footer-social {
  display: flex;
  width: 160px;
  margin-right: 50px;
  justify-content: space-around;
  align-items: center;
}

.social-button path {
  fill: #7e7e7e;
}

.social-button:hover path,
.social-button:focus path {
  fill: #b5b5b5;
}

.social-button:active path {
  fill: #595959;
}

.footer-social-academy hr {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: rgba(255, 198, 0, 1);
  border: none;
}

.product1 {
  width: 360px;
  height: 380px;
}

.catalog-item-modal {
  position: relative;
  width: 360px;
  height: 380px;
  cursor: pointer;
}

.class52 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.7);
  z-index: 2;
  display: none;
}

.class52 span {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}

.class52 span:hover,
.class52 span:focus {
  color: rgba(0, 0, 0, 1);
}

.class52 span:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-modal:hover .class52 {
  display: flex;
  z-index: 5;
}

.button-basket {
  margin-top: 170px;
}

.new-item {
  padding: 0;
  padding-top: 18px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  display: block;
  position: absolute;
  width: 60px;
  height: 42px;
  top: 29px;
  right: 22px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  z-index: 7;
}

.class {
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.7);
  display: none;
}

.modal {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.modal-map {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 960px;
  margin-left: -480px;
  left: 50%;
  top: 1850px;
  display: none;
}

.modal-map-close {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: rgba(240, 197, 46, 0.5);
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
}

.modal-map-close:hover,
.modal-map-close:hover {
  background-color: rgba(240, 197, 46, 1);
}

.modal-map-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.modal-map-close::before,
.modal-map-close::after {
  margin: 0;
  padding: 0;
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  margin-left: -15px;
  z-index: 3;
}

.modal-map-close::before {
  transform: rotate(-45deg);
}

.modal-map-close::after {
  transform: rotate(45deg);
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.modal-write-us {
  position: absolute;
  width: 760px;
  top: 1850px;
  left: 50%;
  margin-left: -480px;
  padding: 80px 100px;
  z-index: 15;
  background-color: rgba(255, 255, 255, 1);
  display: none;
}

.modal-write-us p {
  padding: 0;
  margin: 0;
}

.write-us {
  display: flex;
  flex-direction: column;
}

.name-mail {
  display: flex;
  justify-content: space-between;
}

.write-us-item {
  display: flex;
  flex-direction: column;
}

.write-us-item input,
.write-us-item textarea {
  border: none;
  background-color: rgba(229, 229, 229, 0.5);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 35px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.write-us-item input:hover,
.write-us-item textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);

}

.write-us-item input:focus,
.write-us-item textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: 2px solid rgba(240, 197, 46, 0.5);

}

.write-us-item input:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  border: none;
  outline: none;
  color: rgba(70, 70, 70, 1);
}

.button-write-us {
  width: 200px;
  padding: 8px 35px;
}

.name-mail p {
  width: 360px;
}

.container-services {

  margin-top: 182px;
  padding-top: 100px;
  padding-bottom: 69px;
  background-color: rgba(229, 229, 229, 1);
}

.container-services-wrapper {
  display: flex;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: -201px;
}

.container-services-wrapper>input {
  display: none;
}

.slider-2 {
  width: 577px;
  padding-top: 80px;
  padding-left: 117px;
  padding-right: 300px;
  padding-bottom: 80px;
}

.slider-2 b {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: -5px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 47px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.02em;
}

.slider-2 b::after {
  content: "";
  position: absolute;
  width: 260px;
  height: 320px;
  left: 500px;
  top: -65px;
  background-repeat: no-repeat;
  background-position: center;
}

.slide2-1 b::after {
  background-image: url("../img/delivery.svg");
}

.slide2-2 b::after {
  background-image: url("../img/warranty.svg");
}

.slide2-3 b::after {
  background-image: url("../img/credit.svg");
}

.slider-2 p {
  padding: 0;
  margin: 0;
  width: 460px;
  margin-top: 30px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.003em;
}

.slides-2 {
  position: absolute;
  opacity: 0;
}

.container-services-wrapper .controls-2 {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 45px;
  border-right: 6px solid rgba(0, 0, 0, 1);
  z-index: 2;
}

.controls-2 label {
  cursor: pointer;
  width: 110px;
  margin-bottom: 25px;
  padding: 8px 25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  background: linear-gradient(rgba(255, 255, 255, 0) 45%,
    rgba(240, 197, 46, 1) 45%,
    rgba(240, 197, 46, 1) 55%,
    rgba(255, 255, 255, 0) 55%);
  cursor: pointer;
}

.controls-2 label:hover,
.controls-2 label:focus {
  background-color: rgba(240, 197, 46, 1);
}

#slide1:checked~.controls-2 label[for="slide1"],
#slide2:checked~.controls-2 label[for="slide2"],
#slide3:checked~.controls-2 label[for="slide3"] {
  background: none;
  padding-left: 0;
  padding-right: 0;
  width: 160px;
  padding-right: 117px;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(240, 197, 46, 1);
}

#slide1:checked~.slider-2>.slide2-1,
#slide2:checked~.slider-2>.slide2-2,
#slide3:checked~.slider-2>.slide2-3 {
  opacity: 1;
  z-index: 2;
}

.modal-show {
  display: block;
  animation-name: scale;
  animation-duration: 0.7s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.slider-button {
  padding-left: 0;
  padding-right: 0;
  margin-top: 43px;
  text-align: center;
  width: 220px;
  z-index: 10;
}

.login-link:hover path,
.login-link:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.login-link:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.shop-navigation-item:hover path,
.shop-navigation-item:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.login {
  padding-left: 7px;
}

.shop-navigation-item:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.footer-login-link:hover path,
.footer-login-link:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.footer-login-link:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.footer-nav-item:hover path,
.footer-nav-item:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.footer-nav-item:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.footer-HTML-Academy-logo:hover path,
.footer-HTML-Academy-logo:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.footer-HTML-Academy-logo:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.new {
  position: relative;
}

.new::after {
  display: flex;
  position: absolute;
  content: "NEW";
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  top: 27px;
  right: 27px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0.05em;
}

.catalog-list a {
  line-height: 0px;
  padding: 0;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.filters .bluetooth {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  padding-top: 8px;
  list-style: none;
}

.bluetooth label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.main-navigation h2 {
  display: none;
}
