@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroylight.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/opensans.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

a:visited {
  color: rgba(0, 0, 0, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  margin-bottom: 10px;
}

.container-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  background: linear-gradient(rgba(255, 255, 255, 1) 15%, rgba(247, 226, 150, 1) 15%);
}

.header-search {
  width: 440px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.shop-navigation {
  display: flex;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation {
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
}

.site-navigation {
  width: 1040px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.container-header-first {
  display: flex;
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding: 0 60px;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
  align-self: flex-start;
  width: 200px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container-slider {
  width: 100%;
}

.slide {
  display: flex;
  width: 100%;
}

.slide-image {
  display: flex;
  justify-content: center;
  width: 580px;
}

.product-description {
  width: 580px;
}

.container-products {
  width: 1160px;
  margin: 0 auto;
}

.container-products-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product {
  width: 160px;
  height: 160px;
  background-color: rgba(247, 226, 150, 0.5);
}

.product:nth-child(1) {
  background-image: url("../img/popular-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product:nth-child(2) {
  background-image: url("../img/popular-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product:nth-child(3) {
  background-image: url("../img/popular-3.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product:nth-child(4) {
  background-image: url("../img/popular-4.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product:nth-child(5) {
  background-image: url("../img/popular-5.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product:nth-child(6) {
  background-image: url("../img/popular-6.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.login-link,
.shop-navigation {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}

.site-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.site-navigation-item li>a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.product-description b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.product-description p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.product-description ul {
  list-style: none;
}

.specifications-list p:first-child {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}

.specifications-list p:last-child {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  background: linear-gradient(rgba(255, 255, 255, 0) 35%, rgba(240, 197, 46, 1) 35%, rgba(240, 197, 46, 1) 65%, rgba(255, 255, 255, 0) 65%);
}

.button:hover,
.button:focus {
  background-color: rgba(240, 197, 46, 1);
}

.filter-button,
.modal-write-us button {
  border: none;
}

.search-button {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  background: none;
  border: 2px solid rgba(0, 0, 0, 1);
}

.search-button:hover,
.search-button:focus {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.search-button:active {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.container-slider .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container-products ul {
  list-style: none;
}

/* Наши продукты */
.services-delivery b,
.services-warranty b,
.services-credit b,
.about-us h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.services-delivery p,
.services-warranty p,
.services-credit p,
.about-us p,
.contacts p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.about-us ul {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.main-footer {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 70, 70, 1);
}

.main-footer a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}

.main-footer a:hover,
.main-footer a:focus {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
}

.main-footer a:active {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer ul {
  list-style: none;
}

.main-footer .footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 0px;
  font-weight: bold;
  color: rgba(255, 198, 0, 1);
  text-transform: uppercase;
}

.main-footer .footer-logo:hover,
.main-footer .footer-logo:focus {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 0px;
  font-weight: bold;
  color: rgba(255, 198, 0, 0.7);
  text-transform: uppercase;
}

.main-footer .footer-logo:active {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 0px;
  font-weight: bold;
  color: rgba(255, 198, 0, 0.3);
  text-transform: uppercase;
}

.breadcrumbs li {
  list-style: none;
}

.catalog-catalog li {
  list-style: none;
}

.breadcrumbs a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:last-child {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.catalog-list span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.pagination li {
  list-style: none;
}

.pagination-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.filters li {
  list-style: none;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.filters-item label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.filter-option label {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}
