@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

a:visited {
  color: rgba(0, 0, 0, 1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  /* clip-path: inset(100%); */
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  outline: 3px solid blue;
}

.container-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(247, 226, 150, 1);
  outline: 2px solid black;
}

.main-header-logo {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  margin-top: -25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  outline: 2px solid green;
}

.container-header-first {
  display: flex;
  justify-content: space-between;
align-items: center;
  width: 1040px;
  margin: 0 auto;
  margin-top: 8px;
  outline: 2px solid green;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 160px;
  padding: 0 60px;
  outline: 2px solid green;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  margin: 0;
  padding: 0;
  outline: 2px solid yellow;
}

.header-search p {
  margin: 0;
  padding: 0;
}

.search-button {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  background: none;
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 1);
}

.search-button:hover,
.search-button:focus {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.search-button:active {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: -8px;

  outline: 2px solid black;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid yellow;
}

.shop-navigation {
  display: flex;
  justify-content: space-between;
  width: 214px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid yellow;
}

.site-navigation {
  width: 300px;


  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  list-style: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.delivery-varanty {
  width: 275px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-wrapper a {
  padding: 0;
  margin: 0;
  display: block;
  width: 120px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-footer-wrapper path {
fill: #ffc600;
}



.site-navigation>li {
  display: inline-block;
position: relative;
font-family: "Gilroy", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: bold;
color: rgba(0, 0, 0, 1);
text-transform: uppercase;
list-style: none;
z-index: 20;
letter-spacing: 3.5px;

outline: 2px solid green;

}

.sub-menu {
  padding: 0;
  margin: 0;
  margin-left: -60px;
  list-style: none;
  position: absolute;
  width: 1040px;
  padding: 30px 60px;
  display: none ;
  z-index: 15;

  background-color: rgba(247,225,132,1);
}



.site-navigation-item>a::after {
  margin-top: 3px;
  margin-left: 12px;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  vertical-align: center;

background-image: url("../img/plus.svg");
background-repeat: no-repeat;
background-position: 50% 50%;



}

.sub-menu li {

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  letter-spacing: 0;
}

.site-navigation > li:hover .sub-menu {
  display: block;
}

.user-navigation a {
  position: relative;
  padding-left: 10px;
}

.compare,
.basket {
  margin-left: 6px;
}

.search {
border: none;
background: none;
  }

.header-search input::before {
width: 25px;
height: 25px;

background-color: red;

  }


/* Слайдер */

.container-slider {
  position:relative;
  width: 1160px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 293px;
  margin-top: -110px;

}

.slider-controls {
  position: absolute;
  right: 82px;
  top: 355px;
  z-index: 15;
}


.container-slider input[type="radio"] {
  display: none;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
}

.slider-slide-1 {

  opacity: 0;
}

.slider-slide-2 {

    opacity: 0;
}

.slider-slide-3 {

    opacity: 0;
}
.slider-controls label {
  display: inline-block;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  box-shadow: 0 0 2px rgba(255, 0, 0, 1);
}

#btn-1:checked ~ .slider-wrapper .slider-slide-1 {
opacity: 1;
}

#btn-2:checked ~ .slider-wrapper .slider-slide-2 {
  opacity: 1;
}

#btn-3:checked ~ .slider-wrapper .slider-slide-3 {
opacity: 1;
}






.container-slider .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-description b {

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.product-description p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.product-description-content {
  width: 500px;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -90px;
  z-index: 5;

  outline: 2px solid green;
}
















.container-partners {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 90px;
}

.container-information {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 73px;
}

.about-us {
  width: 500px;
  padding-right: 60px;
}

.contacts {
  width: 560px;
  margin-left: 40px;
}

.main-footer {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 70, 70, 1);
}

.main-footer a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}

.main-footer a:hover,
.main-footer a:focus {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
}

.main-footer a:active {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.footer-logo-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  margin-top: 58px;
  outline: 2px solid green;

}

.footer-logo-navigation,
.footer-contacts-service,
.footer-social-academy {
    outline: 2px solid green;
}


























.footer-user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid yellow;
}

.footer-shop-navigation {
  display: flex;
  justify-content: space-between;
  width: 214px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 2px solid yellow;
}

.footer-contacts-service {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  align-items: center;

}

.footer-services {
  margin: 0;
  padding: 0;
  display: flex;
  width: 428px;
  justify-content: space-between;
  list-style: none;
  padding: 0 6px;
}

.footer-services a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-services a:hover,
.footer-services a:focus {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-services a:active {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-contacts-service p {
  padding: 0;
  margin: 0;
  display: block;
  width: 220px;
}

.footer-contacts-service >a {
  display: block;
  width: 220px;
  text-align: right;
}

.footer-social-academy {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 65px;
}

.footer-social {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1200px;
  margin: 0 auto;
}





.slide-image {
  display: flex;
  justify-content: center;
  padding-right: 20px;
  width: 560px;
}

.slide-decoration {
  display: flex;
  justify-content: flex-end;
  width: 490px;
  margin: 0 auto;
  margin-top: -10px;

  outline: 2px solid red;
}

.slide-decoration p {
  position: relative;
  padding: 0;
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.slide-decoration p:before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  top: 48px;
  left: -332px;

  z-index: 2;
}

.specifications-list {
  display: flex;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  list-style: none;
}

.specifications-list li {
  margin-right: 70px;
}

.product-description {
  width: 540px;
  padding: 0 20px;

}

.container-products {
  width: 1160px;
  margin: 0 auto;

}
container-slider
.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.container-products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
  list-style: none;

  outline: 2px solid yellow;
}

.product {
  width: 160px;

  outline: 2px solid green;
}

.product a {
  position: relative;
  padding-top: 190px;
}

 .product a::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  background-repeat: no-repeat;
  background-position: center;

  left: 0;
  top: 0;
}

 .product-1 a::before {
  background-image: url("../img/popular-1.svg");

  }

.product-2 a::before {
  background-image: url("../img/popular-2.svg");
}

.product-3 a::before {
  background-image: url("../img/popular-3.svg");
}

.product-4 a::before {
  background-image: url("../img/popular-4.svg");
}

.product-5 a::before {
  background-image: url("../img/popular-5.svg");
}

.product-6 a::before {
  background-image: url("../img/popular-6.svg");
}

.container-services {
  width: 100%;

  background-color: rgba(229,229,229,1);
  margin-top: 177px;
  padding-bottom: 115px;
}

.container-services-wrapper {
  display: flex;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;

  outline: 2px solid green;
}

.services-list {
  position:relative;
  width: 260px;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  padding-left: 20px;

  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.services-list:after {
  content:"";
  position: absolute;
  width: 7px;
  height: 320px;
  background-color: rgba(0,0,0,1);
  left: 277px;
  top: -90px;
}

.services-list li {
  padding-bottom: 37px;
}

.services {
  width: 760px;
  padding-left: 120px;
  margin-top: -27px;
}

.services p {
  margin-top: 30px;
}

.services b {
  position: relative;
}

.services b::after {
  position: absolute;
  content: "";
  margin-left: 315px;
  width: 200px;
  height: 200px;

  z-index: 5;
}

.services-delivery b::after {
  background-image: url("../img/delivery.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.login-link,
.shop-navigation {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}



.product-description ul {
  list-style: none;
}

.specifications-list p:first-child {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}

.specifications-list p:last-child {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.button {
  padding: 15px 44px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(rgba(255, 255, 255, 0) 45%,
                              rgba(240, 197, 46, 1) 45%,
                              rgba(240, 197, 46, 1) 55%,
                              rgba(255, 255, 255, 0) 55%);
}

.button:hover,
.button:focus {
  background-color: rgba(240, 197, 46, 1);
}

.filter-button,
.modal-write-us button {
  border: none;
}

.button-about-us,
.button-contacts {
  width: 260px;


}

.container-products ul {
  list-style: none;
}

/* Наши продукты */
.services-delivery b,
.services-warranty b,
.services-credit b,
.about-us h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.about-us h2,
.contacts h2 {
  position: relative;
}

.about-us h2::before,
.contacts h2::before {
  content: "";
  width: 80px;
  height: 8px;
  top: -55px;
  position: absolute;
  background: rgba(0,0,0,1);
}



.contacts img {
  display: block;
  margin-top: 40px;
}

.button-contacts {
  display: block;
  margin-top: 65px;
}

.services-delivery p,
.services-warranty p,
.services-credit p,
.about-us p,
.contacts p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.about-us p {
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.about-us ul {
    margin: 0;
  padding: 0;
margin-top: 63px;
margin-bottom: 62px;

  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.about-us li {
  position: relative;
  padding-left: 35px;
}

.about-us li::before {
  content:"";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid rgba(239,239,239,1);
  left: 0;
  top: 50%;
}






.main-footer .footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(255, 198, 0, 1);
  text-transform: uppercase;
}

.main-footer .footer-logo:hover,
.main-footer .footer-logo:focus {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(255, 198, 0, 0.7);
  text-transform: uppercase;
}

.main-footer .footer-logo:active {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: rgba(255, 198, 0, 0.3);
  text-transform: uppercase;
}

.breadcrumbs li {
  list-style: none;
}

.catalog-catalog li {
  list-style: none;
}

.breadcrumbs a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:last-child {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.catalog-list span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(70, 70, 70, 1);
}

.pagination li {
  list-style: none;
}

.pagination-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.filters li {
  list-style: none;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.filters-item label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.filter-option label {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}

.container-title {
  width: 1160px;
  margin: 0 auto;
}

.container-title h1 {
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  list-style: none;
}

.container-filters-catalog {
  background: linear-gradient(to right, rgba(239, 239, 239, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.filters-catalog-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.filters {
  width: 330px;
  margin-left: 20px;
  background-color: rgba(239, 239, 239, 1);
}

.catalog {
  width: 760px;
  padding-left: 70px;
  background-color: rgba(255, 255, 255, 1);
}

.filters-catalog-title {
  margin-top: 50px;
  background: linear-gradient(to right, rgba(220, 220, 220, 1) 50%, rgba(235, 235, 235, 1) 50%);
}

.filters-catalog-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.filters-title {
  width: 330px;
  margin-left: 20px;
  background-color: rgba(220, 220, 220, 1);
}

.catalog-title {
  width: 830px;
  background-color: rgba(235, 235, 235, 1);
}

.sort {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

/* .catalog-catalog {
  width: 760px;
  margin: 0 auto;
} */
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
  margin-top: 60px;
  list-style: none;
}

.catalog-item {
  width: 360px;
}

.catalog-item:nth-child(2n) {
  margin-left: 40px;
}

.pagination {
  width: 760px;
  margin: 0 auto;
  background-color: rgba(235, 235, 235, 1);
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0;
  padding: 20px 30px;
  list-style: none;
}

.pagination-list li:nth-child(2) {
  margin-left: 30px;
}

.footer-social {
  display: flex;
  width: 160px;
  margin-right: 50px;
  justify-content: space-around;
  align-items: center;
}

.social-button path {
  fill: #7e7e7e;
}

.social-button:hover path,
.social-button:focus path {
  fill: #b5b5b5;
}

.social-button:active path {
  fill: #595959;
}

.footer-social-academy hr {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: rgba(255,198,0,1);
}
